.about-head h6 {
  color: #666666;
  margin-top: 0em;
}

.fa-about {
  color: #202020;
  margin-right: 10px;
  margin-top: 20px;
}

.fa-about:hover {
  color: #D71E3C;
}

.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        color: #606060;
        font-size: 13px;
    }

    .fa-heart {
        color: #D71E3C;
    }

}
